body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.container{
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 16px;
    transition: 0.3s;
}

.container li{
    position: relative;
    overflow: hidden;
    flex: 0 0 150px;
    height: 350px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.2px solid white;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.4), -2px -5px 10px black; 
}

.container li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.container li,
.container li img{
    transition: 0.3s;
}

.container .content{
    transition: 1.5s ease;
}

.container span{
    text-align: center;
    width: 75%;
}

.container h3{
    font-weight: 400;
    font-size: 26px;
    color: white;
    line-height: 4px;
    margin-bottom: 3px;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container p{
    color: white;
    font-size: 10px;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
}

button {
  display: flex;
  margin: 20px auto;
  height: 20px;
  width: 70px;
  background-color: #fb4f00;
  border: none;
  border-radius: 20px;
  margin-bottom: 5%;
}

button a {
  font-size: 10px;
  text-decoration: none;
  background-color: rgb(251, 79, 0);
  color: white;
  padding-top: 5%;
  padding-left: 22%;
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container li .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    padding: 15px;
    background: linear-gradient(0deg, rgb(0 0 0/ 70%) 10%, rgb(255 255 255/ 0%) 100%);
    opacity: 0;
    visibility: hidden;
}

.container:hover{
    gap: 0;
}

.container li:hover{
    flex: 0 0 350px;  /* expands larger */
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.container li .content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}

.container li:hover{
    flex: 0 2 250px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.container li:hover .content{
    opacity: 1;
    visibility: visible;
}

.container li:hover .content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 25px;
    translate: -50%;
    scale: 1;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 100vw;
        align-items: center;
    }

    .container li {
        width: 80vw;
        height: auto;
        aspect-ratio: 3/4;
    }

    .container li img {
        position: static;
        width: 100%;
        height: auto;
        object-fit: cover;
        translate: none;
    }

    .container li:hover {
        flex: none;
        scale: 1.05;
    }

    /* Show hamburger icon */
  .menu-toggle {
    display: flex;
  }
}
